{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

<h2>Depotbestand</h2>
<table class="table">
    <thead>
        <tr>
            <th class="text-start"></th>
            <th class="text-start">Anzahl</th>
            <th class="text-start"></th>
            <th class="text-start">Symbol</th>
            <th class="text-end">Anzahl</th>
            <th class="text-end">Gesamtwert</th>
            <th class="text-end">Preis</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: Loop through the database entries to display them in this table -->
        {% for transaction in index %}

        <tr>
            <form action="/buy" method="post">
                <td class="text-start">
                    <input hidden value="{{ transaction['symbol'] }}" autocomplete="off" autofocus
                        class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
                    <button class="btn btn-sm btn-outline-danger" type="submit">buy</button>
                </td>
                <td class="text-start">
                    <input autocomplete="off" class="form-control mx-auto input-sm " name="shares" placeholder="Anteile"
                        type="text">
                </td>
                <td class="text-start">
                    <button formaction="/sell" class="btn btn-sm btn-outline-info" type="submit">sell</button>
                </td>
                <td class="text-start">{{ transaction['symbol'] }}</td>
                <td class="text-end">{{ transaction['anzahl'] }}</td>
                <td class="text-end">{{ transaction['preis'] | usd }}</td>
                <td class="text-end">{{ transaction['total'] | usd }}</td>
            </form>
        </tr>

        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
            <td class="border-0 text-end">{{bargeld | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td class="border-0 w-bold text-end">{{gesamtbetrag | usd }}</td>
        </tr>
    </tfoot>
</table>

{% endblock %}


<!-- select symbol, sum (shares) as shares from history where users_id=***eingeloggter user*** group by symbol; macht Tabelle mit Symbol und Summe Anzahl Aktien (total)-->