{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell</title>
</head>

<body>
    <form method="POST">
        <label for="options">Wähle eine Aktie:</label>
        <select name="symbol" class="form-control mx-auto w-auto">
            <option disabled="" selected="">Symbol</option>
            {% for symbol in symbols %}
            <option value={{symbol}}>{{symbol}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="mb-4">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="shares" placeholder="Anteile"
                type="number">
        </div class="mb-4">
        <button class="btn btn-primary" type="submit">sell</button>
    </form>
    {% if fehler %}
    <div class="shadow-sm p-3 mb-5 mt-10 bg-body-tertiary rounded">{{ fehler }}</div>
    {% endif %}
</body>

</html>


{% endblock %}